# LLM
transformers>=4.40.0
torch>=2.2.0
accelerate>=0.29.0
bitsandbytes>=0.43.0

# Whisper STT
openai-whisper

# Coqui TTS
coqui-tts==0.27.2

# Audio
sounddevice==0.5.3
pydub==0.25.1
numpy==2.3.5

# Other
notebook==7.5.2
ipykernel==7.1.0
fastapi==0.128.0
uvicorn==0.40.0
requests==2.32.5
python-multipart==0.0.21
langchain 
langchain-ollama 
langchain-chroma